<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to your Wellbeing Journal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Click a link below to get started!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Things to do:</ion-label>
      </ion-list-header>
      <ion-item href="/newlog">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Make today's log entry</ion-label>
      </ion-item>
      <ion-item href="/logs">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Check out your existing logs</ion-label>
      </ion-item>
      <ion-item href="/stats">
        <ion-icon slot="start" color="medium" name="stats"></ion-icon>
        <ion-label>View your log stats</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
