<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="logs"></ion-back-button>
      </ion-buttons>
    <ion-title>Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="log">
  <ion-item>
    <ion-title>{{ log.date }}</ion-title>
  </ion-item>
  <ion-list>
    <ion-item>Anger: {{ log.emotionLevel.anger }}</ion-item>
    <ion-item>Disgust: {{ log.emotionLevel.disgust }}</ion-item>
    <ion-item>Fear: {{ log.emotionLevel.fear }}</ion-item>
    <ion-item>Joy: {{ log.emotionLevel.joy }}</ion-item>
    <ion-item>Sadness: {{ log.emotionLevel.sadness }}</ion-item>
  </ion-list>
  <ion-item>Overall: {{ overallIconStyle }}
    <fa-icon class="icon" [icon]=overallIcon size="2x"></fa-icon>
  </ion-item>
  <ion-item>Substance Use: 
    <ion-icon [name]=substanceIcon></ion-icon>
  </ion-item>
  <ion-item>Notes: {{ log.notes }}</ion-item>
</ion-content>
