<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 20rem;">
        <div *ngIf='user.provider == "password"'class="card-body">
          <ion-item>
            <ion-card-header class="card-title">{{user.name}}</ion-card-header>
          </ion-item>
          <ion-item>
            <ion-button (click)="confirmAlert()" color="danger" expand="block">DELETE ACCOUNT DATA</ion-button>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>

